
    * {
        /* color: green; */
        color: green;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;

    }

    body {

        background-color: limegreen;
    }

    /* id selector */ 
    #contact {
        background-color: brown;
    }

    p {

        color: rgb(0, 26, 255);
    }
    /* id selector */ 
    .my-ps {

        background-color: peru;
    }

    .my-width {

    width: 100px; 
    }

    li {

        color: blueviolet;

    }

    footer {
        background-color:tan;
        border-radius: 30px;
    }
    /* child selector*/ 
    footer > h3 {
        background-color: red;
    }

    footer > ul > li {

        color: blueviolet;
    }
