/*normalizing our css */ 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


    * {
        /* color: green; */
        color: green;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;

    }

    body {

        background-color: limegreen;
    }

    /* id selector */ 
    #contact {
        background-color: brown;
    }

    p {

        color: rgb(0, 26, 255);
    }
    /* id selector */ 
    .my-ps {

        background-color: peru;
    }

    .my-width {

    width: 100px; 
    }

    .box {
        color: white; 
        font-weight: 600;
        background-color: slateblue;
        /*padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left 10px*/
        padding: 10px; 
        /*border-color: black;
        border-style: solid;
        border-width: 3px;*/
        border: solid 1px black;
        border-radius: 10px;

        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 10px;

        /*margin-top: 10px; 
        margin-right: 20 px;
        margin-bottom: 10px;
        margin-left: 20px;*/

        /* margin: 10px 20px 10px 20px; */
        margin: 10px 20px; 
    }

    li {

        color: blueviolet;

    }

    footer {
        background-color:tan;
        border-radius: 30px;
    }
    /* child selector*/ 
    footer > h3 {
        background-color: red;
    }

    footer > ul > li {

        color: blueviolet;
    }
